*{
  margin: 0px;
  padding: 0px;
}


h1{
  text-align: center;
  color:white;
  font-size: 4rem;
}

h2{
  font-weight: bolder;
  font-size: 2rem;
}  
p,ol,li,ul.h4{
  font-size: 1.4rem;
}

a{
  font-size: large;
  text-align: center;
  text-decoration: none;  
  padding: 30px;
  color: black;
  font-weight: bolder;
}

header{
  text-align: center;
  padding: 60px;
  background-color: lightskyblue;
}

main{
place-self: center;
  padding: 100px;
}

footer{
  padding:100px;
  color: white;
  background-color: black;
}

.container{
  display: flex;
  margin-right: 200px;
}

.boxes{  

}

.copy-right-title{
  place-self: center;
}

#pro-title-about-me{
  font-size: 2.5rem;
}
#title-index-welcome{
font-size: 2rem;
}

#engel-photo{
  margin: 20px;
  height: 300px;
  border-radius: 20%;
  border-style:dotted;
  float:right;
}